<ion-header>
  <ion-navbar>
    <ion-title>离线视频</ion-title>
  </ion-navbar>
</ion-header>
<ion-content no-padding>
  <page-null *ngIf="videoList!=null&&videoList.length==0"></page-null>
  <div *ngIf="videoList!=null">
    <div class="video-content" *ngFor="let videoItem of videoList;let i = index">
      <img src="assets/images/play.png"/>
      <div class="video-text" tappable (click)="playVideo(videoItem.id,videoItem.fileName)">{{videoItem.fileName}}
        <p>{{videoItem.lastModifyTime}}</p>
      </div>
      <div class="video-delete" tappable (click)="delete(videoItem.id)"></div>
    </div>
  </div>
</ion-content>
