<ion-header>
  <ion-navbar>
    <ion-title>{{title}}</ion-title>
  </ion-navbar>
  <div style="height: 250px;width: 100%;">
    <vg-player style="display:-webkit-flex;">
      <vg-overlay-play></vg-overlay-play>
      <vg-controls [vgAutohide]="true" [vgAutohideTime]="2" style="display:-webkit-flex;">
        <vg-play-pause
          style="display:-webkit-flex;-webkit-align-items:center;-webkit-justify-content:center;height: 30px;line-height: 30px;width: 30px;"></vg-play-pause>
        <vg-time-display
          style="display:-webkit-flex;-webkit-align-items:center;-webkit-justify-content:center;height: 30px;line-height: 30px;width:40px;font-size: 8px;"
          vgProperty="current"
          vgFormat="hh:mm:ss">
        </vg-time-display>
        <vg-scrub-bar style="-webkit-flex-grow:1;-webkit-flex-basis:0;height: 30px;line-height: 30px;">
          <vg-scrub-bar-current-time style="display: -webkit-flex;"></vg-scrub-bar-current-time>
          <vg-scrub-bar-buffering-time style="display: -webkit-flex;"></vg-scrub-bar-buffering-time>
        </vg-scrub-bar>
        <vg-time-display style="display:-webkit-flex;-webkit-align-items:center;-webkit-justify-content:center;height: 30px;line-height: 30px;width:40px;font-size: 8px;" vgProperty="total"
                         vgFormat="hh:mm:ss">
        </vg-time-display>
        <vg-fullscreen #fullscreen style="display:-webkit-flex;-webkit-align-items:center;height: 30px;line-height: 30px;width: 30px;"></vg-fullscreen>
      </vg-controls>
      <video [vgMedia]="onlineVideo" #onlineVideo id="video" [src]="currentVideoUrl"  (timeupdate)="videoPlayTimeUpdate($event)" preload="auto" playsinline webkit-playsinline>
      </video>
    </vg-player>
  </div>


  <ion-segment [(ngModel)]="seg">
    <ion-segment-button value="s1" class="segment-button-midd">
      视频
    </ion-segment-button>
    <ion-segment-button value="s2">
      讲义
    </ion-segment-button>
  </ion-segment>
</ion-header>
<ion-content no-padding>
  <div [ngSwitch]="seg" style="width:100%;height:100%">
    <div *ngSwitchCase="'s1'">
      <div class="video-item" *ngFor="let videoSubList  of videos;let i = index">
        <div class="video-title" (click)="toggleSubList(i)">{{videoSubList.title}}
          <div class="cb"></div>
        </div>
        <div class="video-content" *ngFor="let videoItem of videoSubList.list;let j=index">
          <div *ngIf="!isOk(videoItem)">
            <img src="assets/images/cant.png"/>
            <div class="video-cant">{{videoItem.title}}
              <p>待解锁</p>
            </div>
            <div></div>
          </div>
          <div *ngIf="isOk(videoItem)">
            <img src="assets/images/play.png"/>
            <div (click)="playVideo(i,j)" class="video-text">{{videoItem.title}}
              <p *ngIf="videoItem.currentTime==0">
                {{currentVideoIndexI==i&&currentVideoIndexJ==j?'加载中':'未观看'}}</p>
              <p *ngIf="videoItem.currentTime!=0"
                 [class]="currentVideoIndexI==i&&currentVideoIndexJ==j?'video-text-p':''">
                {{formatSeconds(videoItem.currentTime)}}/{{formatSeconds(videoItem.duration)}}
              </p>
            </div>
            <div id="{{videoItem.id}}" class="video-down" (click)="download(i,j)">
              <div><p>0%</p></div>
            </div>
            <div style="width: 10px;"></div>
            <div class="video-delete" (click)="deleteVideoFile(i,j)">
            </div>
          </div>
        </div>
      </div>
    </div>
    <div *ngSwitchCase="'s2'" style="width:100%;height:100%">
      <iframe [src]="currentLectureUrl"></iframe>
    </div>
  </div>
</ion-content>
